@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

section[epub|type~="z3998:postscript"]{
	margin-top: 3em;
}

[epub|type~="chapter"]{
	break-before: page;
}

/* Non-TOC section header */
#the-ghost-and-the-bonesetter header{
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
}

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] em{
	font-style: normal;
}

[epub|type~="epigraph"] cite{
	font-style: normal;
	font-variant: small-caps;
	margin-top: 1em;
}
/* End all epigraphs */

/* Epigraphs in section headers */
article > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: initial;
}

@supports(display: table){
	article > header [epub|type~="epigraph"]{
		display: table;
	}
}
/* End epigraphs in section headers */

/* Poetry */
[epub|type~="z3998:verse"] p,
[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span,
[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br,
[epub|type~="z3998:song"] p > span + br{
	display: none;
}

[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 4em;
	text-indent: -1em;
}

/* Letters */
[epub|type~="z3998:recipient"]{
	font-style: italic;
}

[epub|type~="z3998:recipient"] p:nth-child(2),
[epub|type~="z3998:recipient"] p:nth-child(5){
	text-indent: 5em;
}

[epub|type~="z3998:recipient"] p:nth-child(3){
	text-indent: 7em;
}

[epub|type~="z3998:recipient"] p:nth-child(4){
	text-indent: 3em;
}

[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
	font-weight: normal;
}

[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:postscript"] header{
	font-variant: small-caps;
	margin-bottom: 1em;
}

[epub|type~="se:letter.dateline"]{
	font-style: italic;
	margin-bottom: 1em;
	margin-top: 1em;
	text-align: right;
}

/* Misc */
[epub|type~="se:era"]{
	font-variant: all-small-caps;
}

footer{
	margin-top: 1em;
	text-align: right;
}

/* Story-specific markup */
#mr-justice-harbottle-chapter-4 blockquote p:first-child{
	text-align: center;
}

#mr-justice-harbottle-chapter-5 span[epub|type~="z3998:signature"]{
	float: right;
}

#mr-justice-harbottle-chapter-5 footer{
	margin-top: 0;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

#the-bridal-of-carrigvarah [epub|type~="z3998:letter"] > header > p:first-of-type{
	font-style: italic;
}

#the-bridal-of-carrigvarah [epub|type~="z3998:letter"] header [epub|type~="z3998:salutation"]{
	text-align: initial;
}

#scraps-of-hibernian-ballads blockquote > header > p{
	font-variant: small-caps;
}
