@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

section[epub|type~="z3998:postscript"]{
	margin-top: 3em;
}

[epub|type~="chapter"]{
	break-before: page;
}

[epub|type~="z3998:verse"] p,
[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span,
[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br,
[epub|type~="z3998:song"] p > span + br{
	display: none;
}

[epub|type~="z3998:song"] p + p{
	margin-top: 1em;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

[epub|type~="z3998:recipient"]{
	font-style: italic;
}

[epub|type~="z3998:recipient"] p:nth-child(2),
[epub|type~="z3998:recipient"] p:nth-child(5){
	text-indent: 5em;
}

[epub|type~="z3998:recipient"] p:nth-child(3){
	text-indent: 7em;
}

[epub|type~="z3998:recipient"] p:nth-child(4){
	text-indent: 3em;
}

[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
	font-weight: normal;
}

[epub|type~="z3998:postscript"] header{
	font-variant: small-caps;
	margin-bottom: 1em;
}

[epub|type~="se:era"]{
	font-variant: all-small-caps;
}

footer{
	margin-top: 1em;
	text-align: right;
}

#mr-justice-harbottle-chapter-4 blockquote p:first-child{
	text-align: center;
}

#the-room-in-the-dragon-volant-chapter-23 blockquote{
	font-variant: small-caps;
	text-align: center;
}

#the-room-in-the-dragon-volant-chapter-23 blockquote p,
[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}